<header class="transition-all duration-300 fixed w-screen top-0 left-0 bg-white z-50">
	<div data-navigation class="container z-20 w-full flex items-center justify-between transition-all duration-300">
		<a href="{{ site.url }}" rel="home" class="py-4">{% include 'icons/logo.twig' %}</a>
		<nav id="nav-main" class="pt-4" role="navigation">
			{% include 'menu.twig' with {
				items: menu.get_items
			} %}
		</nav>
		<!-- #nav -->
	</div>
</header>
