{% extends "page.twig" %}

{% block content %}
	<section class="bg-gradient-to-br from-[#4D78BC] via-[#6A539B] to-[#CC2761]">
		<div class="container block-content text-white">
			<h1>Page not found.</h1>
			<p class="text-lg">Sorry! We could not find what you were looking for.</p>
			<a class="button-white" href="/">Return home</a>
		</div>
	</section>
{% endblock %}
